<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntian.chat_app.mapper.userMapper.CharacterMapper">
    <resultMap id="BaseResultMap" type="com.yuntian.chat_app.entity.Character">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="appearance" property="appearance" jdbcType="LONGVARCHAR"/>
        <result column="background" property="background" jdbcType="LONGVARCHAR"/>
        <result column="personality" property="personality" jdbcType="LONGVARCHAR"/>
        <result column="classic_lines" property="classicLines" jdbcType="LONGVARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="is_public" property="isPublic" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 插入角色 -->
    <insert id="insert" parameterType="com.yuntian.chat_app.entity.Character"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `character` (
            name, appearance, background, personality, classic_lines, user_id,image,
            create_time, update_time, is_deleted, is_public
        ) VALUES (
                     #{name}, #{appearance}, #{background}, #{personality}, #{classicLines}, #{userId},#{image},
                     NOW(), NOW(), 0,0
                 )
    </insert>
    <!-- 更新角色头像 -->
    <update id="updateImage">
        UPDATE `character`
        SET image = #{imageUrl}, update_time = NOW()
        WHERE id = #{characterId} AND is_deleted = 0
    </update>
    <!-- 更新角色信息 -->
    <update id="updateInfoById">
        UPDATE `character`
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="appearance != null">appearance = #{appearance},</if>
            <if test="background != null">background = #{background},</if>
            <if test="personality != null">personality = #{personality},</if>
            <if test="classicLines != null">classic_lines = #{classicLines},</if>
            update_time = NOW(),
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>
    <!-- 根据用户ID查询角色列表 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT id, name, image, appearance ,is_public
        FROM `character`
        WHERE user_id = #{userId} AND is_deleted = 0
        ORDER BY create_time DESC
    </select>
    <!-- 根据ID查询角色详情 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, name, image, is_public, background, personality, classic_lines,appearance
        FROM `character`
        WHERE id = #{id} AND is_deleted = 0
    </select>
    <!-- 获取所有角色列表（公开模型） -->
    <select id="selectAll" resultType="com.yuntian.chat_app.entity.Character">
        SELECT id, name, image, appearance, background, personality, classic_lines,appearance
        FROM `character`
        WHERE is_deleted = 0 AND is_public = 1
    </select>
        <!-- 检索角色 -->
    <select id="selectByKeyword" resultMap="BaseResultMap">
        SELECT id, name, image, appearance, background, personality, classic_lines,appearance
        FROM `character`
        <where>
            <if test="name != null and name != ''">
                AND name LIKE concat('%', #{name}, '%')
            </if>
            <if test="personality != null and personality != ''">
                AND personality LIKE concat('%', #{personality}, '%')
            </if>
                AND is_public = 1 AND is_deleted = 0
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>